.header{
    width: 375px;
    height: 67px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    z-index: 1;

    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    color: var(--color-header-font-time-button);

    background-color: var(--color-header-button-available);
}